@using ASP.NET_Core.Models
@model List<string>

<tr>
    @foreach (string editor in Model)
    {
        <td>
            @if (editor == "BirthDate" || editor == "HireDate")
            {
                @(Html.DevExtreme().DateBox()
                    .Value(new JS("data." + @editor))
                    .OnValueChanged("function(e) { onValueChanged(e,'" + @editor + "', data.ID); }")
                )
            }
            else
            {
                @(Html.DevExtreme().TextBox()
                    .Value(new JS("data." + @editor))
                    .OnValueChanged("function(e) { onValueChanged(e,'" + @editor + "', data.ID); }")
                )
            }
        </td>
    }
    <td rowspan='2'>
        @(Html.DevExtreme().Button()
            .Text("Save")
            .OnClick("saveButtonClick")
        )
        @(Html.DevExtreme().Button()
            .Text("Cancel")
            .OnClick("cancelButtonClick")
        )
    </td>
</tr>
<tr class="notes-row">
    <td colspan='6'>
        @(Html.DevExtreme().TextArea()
            .Value(new JS("data.Notes"))
            .OnValueChanged("function(e) { onValueChanged(e, 'Notes', data.ID); }")
        )
    </td>
</tr>
